doctype html
html(ng-app="dribbble")
  head
    title Visualizzzr

    link( href="styles/main.min.css" rel="stylesheet" type="text/css" )
    script( src="scripts/angular/angular.min.js" )
  
  body.container
    ng-view

    script( src="scripts/angular-route/angular-route.min.js" )
    script( src="scripts/angular-sanitize/angular-sanitize.min.js" )
    script( src="scripts/main.js" )