doctype html
html
  head
    title Fetch API

    link(href="styles/main.min.css" rel="stylesheet" type="text/css")
  
  body
    section#main
    button Ver mais

    script(src="../bower_components/es6-promise/promise.js")
    script(src="../bower_components/fetch/fetch.js")
    script(src="scripts/main.min.js")